
.main{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
 }
 .card{
     min-height:20rem;
     min-width: 20rem;
     cursor: pointer;
 }

 
@media screen and (max-width: 1000px) { 
    .card{
        min-height:15rem;
        min-width: 15rem;
    }
   
}

@media screen and (max-width: 480px) {  
    .card{
        min-height:15rem;
        min-width: 15rem;
    }
   
}
